*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0C120C;
}
h1{
    font-weight: normal;
}
#containerHead{
    display: grid;
    grid-template-columns: 30% 70%;
}

.contClass{
    background-color: wheat;
}

#headright ,#headLeft{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #D8C99B;
}
.b{
    color: #A4243B;
}

#logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #A4243B;
    background-color: #D8C99B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A4243B;
}
#logo p{
    animation: anim 3s infinite;
}
@keyframes anim{
    0%{
        opacity: 0.1;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 0.5;
    }
    75%{opacity: 0.1;}
}
/* titre */
#titre{
    font-weight: normal;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #D8C99B;
}
/* form */

form{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    margin: 80px auto;
    justify-content: space-around;
    align-items: center;
    color: #D8C99B;
}
input,textarea{
    background-color: #D8C99B;
}
input{
    border: none;
}
form button{
   cursor: pointer;
}
textarea{
    height: 50px;
  
}
#lbtitre{
    text-align: center;
    font-size: 1.2rem;
  
}
button{
    width: 30%;
    height: 30px;
    background-color: #D8C99B;
    border-radius: 5px;
    border: none;
}
/* publication */
.contArt{
    border-radius: 20px;
    width: 70%;
    height: 250px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #D8C99B;
    
}
.contDate{
    display: flex;
    justify-content: space-around;
    width: 100%;
}